# Auto detect text files and perform LF normalization
* text=auto

# Python files
*.py text diff=python
*.pyi text diff=python

# Documentation
*.md text diff=markdown
*.rst text
*.txt text

# Configs
*.yml text
*.yaml text
*.json text
*.toml text
*.ini text
*.cfg text

# Docker
Dockerfile text
.dockerignore text

# Git
.gitattributes text
.gitignore text

# Binary files
*.pyc binary
*.pyo binary
*.pyd binary
*.so binary
*.dll binary
*.dylib binary
